/* .background {
  background-image: url("../images/tesla9.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
} */
.background img {
  min-height: 100vh;
  object-fit: cover;
  width: 100%;
}
